{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}
<h1>{% trans "Profile" %}</h1>
<form method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="id_first_name">{{ user_form.first_name.label }}</label>
    {{ user_form.first_name }}
  </div>

  <div class="form-group">
    <label for="id_last_name">{{ user_form.last_name.label }}</label>
    {{ user_form.last_name }}
  </div>

  <div class="form-group">
    <label for="id_email">{{ user_form.email.label }}</label>
    {{ user_form.email }}
  </div>

  <div class="form-group">
    <label for="id_timezone">{{ profile_form.timezone.label }}</label>
    {{ profile_form.timezone }}
  </div>

  <button type="submit" class="btn btn-outline-primary">{% trans "Save changes" %}</button>
</form>
{% endblock %}